$font-weights: ("regular": 400, "medium": 500, "bold": 700)

@function get-fweight($weight)
    @return map-get($font-weights,$weight)

*
    box-sizing: border-box
    margin: 0
    padding: 0
body
    font-family: "lato",sans-serif
    font-weight: get-fweight('regular')
    font-size: 1rem
    line-height: 1.7
