@use '../abstracts'

.card
    //functionality
    -moz-perspective: 100rem
    perspective: 100rem

    position: relative
    height: abstracts.$tour-rows-height

    &__side
        position: absolute
        top: 0
        left: 0

        border-radius: 3px
        box-shadow: 0 1.5rem 4rem rgba(abstracts.$dark,.15 )

        text-align: center

        -webkit-backface-visibility: hidden
        backface-visibility: hidden

        height: abstracts.$tour-rows-height

        width: 100%
        transition: all 1s ease
        overflow: hidden // for the background image

        &--front
            background-color: abstracts.$white
        &--back
            transform: rotateY(180deg)
            &-1
                background-image: linear-gradient(to right bottom,abstracts.$light-orange,abstracts.$regular-orange)
            &-2
                background-image: linear-gradient(to right bottom,abstracts.$light_green,abstracts.$dark_green)
            &-3
                background-image: linear-gradient(to right bottom,abstracts.$light-blue,abstracts.$regular-blueberry)

    &:hover &__side--front
        transform: rotateY(-180deg)

    &:hover &__side--back
        transform: rotateY(0deg)
    //FRONT SIDE STYLE

    &__picture
        height: 40%
        background-blend-mode: screen
        background-size: cover
        background-position: center
        clip-path: polygon(0 0 ,100% 0,100% 80%,0 100%)

        &--1
            background-image: linear-gradient(to right bottom,abstracts.$light-orange,abstracts.$regular-orange), url(../img/nat-5.jpg)
        &--2
            background-image: linear-gradient(to right bottom,abstracts.$light_green,abstracts.$dark_green),url(../img/nat-6.jpg)
        &--3
            background-image: linear-gradient(to right bottom,abstracts.$light-blue,abstracts.$regular-blueberry),url(../img/nat-7.jpg)
    &__heading
        font-size: 2.8rem
        font-weight: 300
        text-transform: uppercase
        color: abstracts.$white
        text-align: right

        position: absolute
        top: 3.9rem
        right: 1rem

        width: 67%
        @include abstracts.respond(tab-land)
            width: 76%
    &__heading-span
        padding: 1rem 1.5rem
        box-decoration-break: clone
        -webkit-box-decoration-break: clone

        &--1
            background-image: linear-gradient(to right bottom, rgba(abstracts.$light-orange,.85 ),rgba(abstracts.$regular-orange,.85 ))
        &--2
            background-image: linear-gradient(to right bottom, rgba(abstracts.$light_green,.85 ),rgba(abstracts.$dark_green,.85 ))
        &--3
            background-image: linear-gradient(to right bottom, rgba(abstracts.$light-blue,.85 ),rgba(abstracts.$regular-blueberry,.85 ))
    &__details
        padding: 1rem
        ul
            list-style: none
            width: 80%
            margin: 0 auto

            li
                text-align: center
                font-size: 1.5rem
                padding: 1rem
                &:not(:last-child)
                    border-bottom: 1px solid abstracts.$light_grey-2

    //BACK SIDE  STYLE

    &__cta
        height: 67vh

        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly
        color: abstracts.$white
    &__price
        &-only
            font-size: 1.5rem

        &-value
            font-size: 6rem
            font-weight: abstracts.get-fweight('medium')

    // card style for Tablet landscape
    @include abstracts.respond(tab-land)
        height: auto
        background-color: abstracts.$white
        border-radius: 3px
        &__side
            position: relative
            box-shadow: none
            height: auto
            border-radius: 0px

            &--back
                transform: rotateY(0deg)
                clip-path: polygon( 0 15% , 100% 0 , 100% 100% , 0 100%)
                padding: 3rem 0 0

        &:hover &__side--front
            transform: rotateY(0deg)
        &__picture
            height: 20rem
        &__cta
            height: 20rem
            justify-content: flex-start

        &__price
            &-only
                font-size: 2rem

            &-value
                font-size: 5rem
                font-weight: 300

    // card style for tablet&mobile
    @include abstracts.respond(tab-port)
        &__details
            ul
                li
                    font-size: 2rem
        &__cta
            height: 20rem

        &__price
            &-only
                font-size: 2rem

            &-value
                font-size: 5rem
