@use '../abstracts'

.story
    width: 75%
    margin: 0 auto
    background-color: rgba(abstracts.$white , .6)
    border-radius: 3px
    box-shadow: 0 0.5rem 1rem rgb(abstracts.$dark,.15)
    padding: 6rem
    padding-left: 4.5rem
    font-size: 1.6rem
    transform: skewX(-12deg)
    &:not(:last-child)
        margin-bottom: 6rem

    & > *
        transform: skewX(12deg)
    @include abstracts.respond(phone)
        text-align: center
        width: 85%
        padding: 2rem 4rem 3rem
        transform: skewX(0deg)
        & > *
            transform: skewX(0deg)

    &__shape
        width: 15rem
        height: 15rem

        float: left
        margin-right: 2rem
        -webkit-shape-outside: circle(50% at 50% 50%)
        shape-outside: circle(50% at 50% 50%)

        transform: translateX(-1.5rem) skewX(12deg)
        position: relative
        overflow: hidden
        border-radius: 50%

        @supports (-webkit-shape-outside: polygon(0 0)) or ( shape-outside: polygon(0 0) )
            -webkit-shape-outside: circle(50% at 50% 50%)
            shape-outside: circle(50% at 50% 50%)
        @supports (-webkit-clip-path: polygon(0 0)) or ( clip-path: polygon(0 0) )
            margin-right: 2rem
            border-radius: none
            clip-path: circle(50% at 50% 50%)
            -webkit-clip-path: circle(50% at 50% 50%)

        @include abstracts.respond(phone)
            float: none
            margin: 0 auto 2rem

            transform: translateX(-1.5rem) skewX(0deg)

    &__img
        height: 100%
        transform: scale(1.4)
        backface-visibility: hidden
        -webkit-backface-visibility: hidden
        transition: all .5s

    &__caption
        @include abstracts.absCenter()
        top: 100%

        opacity: 0

        font-size: 1.6rem
        text-align: center
        color: abstracts.$white

        backface-visibility: hidden
        -webkit-backface-visibility: hidden
        transition: all .5s

    &:hover
        .story
            &__img
                transform: scale(1) translateX(-2rem)

                filter: blur(3px)
                -webkit-filter: blur(3px)
            &__caption
                top: 50%
                opacity: 1
