@use '../abstracts'
$default-font-size: 1.6rem

body
    font-family: "lato",sans-serif
    font-weight: abstracts.get-fweight('regular')
    line-height: 1.7
.text-box
    @include abstracts.absCenter
    top: 40%
    text-align: center

.heading-primary
    margin-bottom: 60px

    text-transform: uppercase
    color: abstracts.$white
    & > *
        display: block
        font-weight: abstracts.get-fweight('regular')
    &__main
        font-size: 6rem
        letter-spacing: 20px
        @include abstracts.animat_fadeIn($direction: 'left')
        @include abstracts.respond(phone)
            font-size: 5rem
            letter-spacing: 1rem

    &__sub
        font-size: 2rem
        letter-spacing: 13px
        @include abstracts.animat_fadeIn($direction: 'right')
        @include abstracts.respond(phone)
            letter-spacing: .5rem

.heading-secondary
    z-index: 999
    position: inherit
    font-size: 3.5rem
    text-transform: uppercase
    font-weight: abstracts.get-fweight('bold')

    background-image: linear-gradient(to right,abstracts.$light_green,abstracts.$dark_green)
    display: inline-block
    color: transparent
    -webkit-background-clip: text

    letter-spacing: 2px
    transition: all .2s
    @include abstracts.respond(tab-port)
        font-size: 3rem

    @include abstracts.respond(phone)
        font-size: 2.5rem
    &:hover
        transform: skewY(2deg) scale(1.1)
        text-shadow: 0 0.7rem 2rem rgb(0 0 0 / 50%)

.about-info__infos
    padding: 0px 8rem
    .heading-tertiary
        font-size: $default-font-size
        font-weight: abstracts.get-fweight('bold')
        text-transform: uppercase
        @include abstracts.respond(phone)
            font-size: 2rem
    .paragraph
        font-size: $default-font-size
        @include abstracts.respond(phone)
            font-size: 1.9rem
        &:not(:last-child)
            margin-bottom: 3rem
