@use '../abstracts'
$transparen-amount: 0.2
%skew
    transform: skewY(-7deg)
    margin-top: -5rem

    & > *
        transform: skewY(7deg)
.section
    &-about
        background-color: abstracts.$light_grey-1
        padding: 12rem 0
        margin-top: -20vh

    &-features
        padding: 8rem 0

        background-image: linear-gradient(to right bottom,transparentize(abstracts.$light_green,$transparen-amount),transparentize(abstracts.$dark_green,$transparen-amount)), url(../img/nat-4.jpg)
        background-size: cover
        background-position: top

        @extend %skew

    &-tours
        background-color: abstracts.$light_grey-1
        padding: 11rem 0 6rem 0

        margin-top: -78px
        .grid-container
            grid-template-columns: repeat( 3,25%)
            grid-template-rows: abstracts.$tour-rows-height
            grid-column-gap: 5%
            place-content: center

    &-stories
        padding: 5rem 0
        background-color: abstracts.$light_grey-1

        position: relative
    &-book
        padding: 12rem 0
        background-image: linear-gradient(to right bottom,abstracts.$light_green,abstracts.$dark_green)

/* about grid style*/
.grid-container
    margin-top: 4rem
    display: grid
    grid-template-columns: repeat( 2,1fr)

/*features grid style*/
.features
    @extend .grid-container
    margin-right: 4rem
    margin-left: 4rem
    grid-template-columns: repeat(4, 21%)
    column-gap: 61px

/*book section style*/

.book
    width: 86%
    margin: 0 auto
    background-image: linear-gradient(105deg,rgba(abstracts.$white,.9) 0%,rgba(abstracts.$white,.9) 50%,transparent 50%), url('../img/nat-10.jpg')
    background-size: cover
    border-radius: 3px
    box-shadow: 0 1.15rem 4rem rgba(abstracts.$dark ,.15 )

    &__form
        padding: 3rem
        width: 50%
